.imgImagenInicio img {
  display: block;
  width: 100%;

  display: block;
  margin: auto;
}

.imgLogo {
  width: 50px;
  height: 50px;
}

.navbar-toggler-icon {
  color: #feffff !important;
}
/*
/*
#be1742
#f9ae3b
#4b494a
#faf4f7
.color1 { #e6ad0f };
.color2 { #ecc22c };
.color3 { #f3d649 };
.color4 { #f9eb65 };
.color5 { #ffff82 };

*/


.menuNavBar {
  background: linear-gradient(to bottom, #f9ae3b,#f9ae3b 60%, #ffff82);
  margin: 2px solid black !important;
  border-radius: 30px;
  border: 1px solid rgb(255, 255, 255);
}
li a {
  color: white !important;
  font-size: 16px;
  border: 1px solid rgba(11, 34, 109, 0);
  padding: 15px;
  font-weight: 800;
  border-bottom: 3px solid rgba(255, 255, 255, 0);
}
li a:hover {
  background: #ffb75b !important;
  color: #490101 !important;
  border: 1px solid #bf6227;
  transform: translateY(-2px);
  border: 1px solid #490101;
  border-bottom: 3px solid #490101;
  border-radius: 10px;
  font-weight: 700;
}
ul li {
  font-weight: 600;
  border-radius: 15px;
}
a {
  cursor: pointer;
}

.submenu {
  color: #ffda8b;
  background: linear-gradient(#790000 80%, #ea9a48);
  font-size: 15px;
  font-weight: 500;
  border-bottom: 1px solid #ea9a48;
  border-radius: 10px;
  margin: 2px;
}

.dropdown-menu {
  background: none;
  border: none;
}
.user {
  color: #bf6227;
  font-size: 12px;
}
.navbar-toggler {
  border: 1px solid transparent;
}

/********************************BOTONES******************************************************************/
.botonF {
  color: white;
  border: 1px solid #fff;
  background: linear-gradient(to bottom, #0c78a4, #0a2e71 40%, #0b80aa);
  border-radius: 30px;
  box-shadow: 3px 3px 1px 1px rgba(7, 7, 7, 0.337);
  font-size: 35px;
}
.botonF:hover {
  color: #790000;
  border: 2px solid #790000;
  background: linear-gradient(to bottom, #ffb75b, #feffff, #ffb75b);
  transform: translate(6px, 1px) !important;
}

.centro {
  margin: auto;
  align-items: center;
}
/*******************OffCanva**************************/
.offcanvas {
  position: fixed;
  top: 150px;
  left: -400px; /* Ocultar el off canvas fuera del borde izquierdo de la pantalla */
  width: 400px;
  background: #ffb75b;
  color: #790000;
  font-size: 18px;
  padding-top: 10px;
  border: #ffda8b 10px solid;
  border-left: 0px;
  border-radius: 30px;
  transition: all 0.3s ease-in-out; /* Animación para mostrar y ocultar el off canvas */
  height: max-content;
  box-shadow: 10px 5px 1px 1px rgba(7, 7, 7, 0.337);

  z-index: 100;
}

.offcanvas-open {
  overflow: hidden;
}
.cerrar {
  display: flex;
  justify-content: flex-end;
  background: #ffffff;
  color: #790000;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
/********************************BOTONES******************************************************************/
.botonF {
  color: white;
  border: 1px solid #fff;
  background: linear-gradient(to bottom, #0c78a4, #0a2e71 40%, #0b80aa);
  border-radius: 30px;
  box-shadow: 3px 3px 1px 1px rgba(7, 7, 7, 0.337);
  font-size: 35px;
}
.botonF:hover {
  color: #0a2e71;
  border: 2px solid #0a2e71;
  background: linear-gradient(to bottom, #9dcfda, #feffff, #9dcfda);
  transform: translate(6px, 1px) !important;
}
.centro {
  margin: auto;
  align-items: center;
}
/* ***************************** BUZON ********************** */
.tarj {
  width: 100%;
  height: 130px;
  background: #fa8d10;
  color: #7e0505;
  margin: auto;
  padding: 20px;
  box-shadow: 0px 15px 15px -6px black;
  text-align: center;
  font-weight: 500;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}
a {
  text-decoration: none;
}
.tarj:hover {
  background: #742f02;
  color: #e4e4e4;
  font-weight: 700;
  box-shadow: 0px 0px 0px 0px rgb(255, 255, 255);
  transform: translate(2px, 5px);
}
/*
PALETA
#ffda8b
#ffb75b
#ea9a48
#d57e37
#bf6227
#a84619
#91290d
#790000
#490101
*/
