<!-- <div class="container imgImagenInicio">
  <div class="row">
    <div class="col-12">
      <img src="assets\dist\img\bannerMiLunaCielo.jpg" alt="" />
    </div>
  </div>
</div> -->
<br />
<nav
  class="container navbar navbar-expand-lg navbar-light menuNavBar sticky-top"
>
  <button
    class="navbar-toggler collapsed"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <i class="fas fa-bars" style="background-color: aliceblue;"></i>
  </button>

  <div
    class="collapse navbar-collapse justify-content-end"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">INICIO </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/web/nosotros">NOSOTROS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/web/promociones']">PROMOCIONES</a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          CATÁLOGO
        </a>
        <div
          class="dropdown-menu animate__animated animate__backInLeft"
          aria-labelledby="navbarDropdown"
        >
          <a
            class="dropdown-item submenu"
            [routerLink]="['/web/catalogo/materialGrafico']"
            >Material Gráfico</a
          >
          <a
            class="dropdown-item submenu"
            [routerLink]="['/web/catalogo/libros']"
            >Libros</a
          >
          <a
            class="dropdown-item submenu"
            [routerLink]="['/web/catalogo/otros']"
            >Gigantografías, Lonas y vinilos</a
          >
          <a
            class="dropdown-item submenu"
            routerLink="/web/catalogo/merchadesing"
            >Merchadesing</a
          >
        </div>
      </li>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <!--   <li class="nav-item">
        <a class="nav-link" routerLink="login">Iniciar Sesión</a>
      </li> -->
      <li class="nav-item">
        <a
          class="nav-link"
          id="toggle-button"
          (click)="mostrar()"
          style="padding: 5px;"
        >
          <!--  <i class="fas fa-bars"></i> -->
          <img
            src="assets/dist/img/iconos/redes.png"
            style="width: 40px; height: 40px;"
          />
        </a>
      </li>
    </ul>
  </div>
</nav>

<!-- TODO: Contenido Offcanva -->
<div class="offcanvas">
  <div class="row">
    <div class="col-12">
      <button
        type="button"
        class="cerrar float-right mr-2"
        id="close-button"
        (click)="mostrar()"
      >
        <i class="fa fa-times" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="p-3 row">
    <div class="col-sm-4 col-md-6" *ngFor="let item of menuPerfil">
      <a href="{{item.url}}">
        <div class="tarj">
          <img src="{{ item.icono }}" class="imgLogo" />
          <p>{{ item.nombre }}</p>
        </div>
      </a>
    </div>
    <div class="col-sm-4 col-md-6">
      <a routerLink="/login">
        <div class="tarj">
          <img src="assets/dist/img/iconos/inicioSesion.png" class="imgLogo" />
          <p>LOGIN</p>
        </div>
      </a>
    </div>
  </div>
  <hr />
</div>
