<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 180">
  <path
    fill="#c11643"
    fill-opacity="1"
    d="M0,160L48,160C96,160,192,160,288,165.3C384,171,480,181,576,160C672,139,768,85,864,90.7C960,96,1056,160,1152,176C1248,192,1344,160,1392,144L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
  ></path>
  <text
    x="40"
    y="80"
    class="tituloPrincipal"
    fill="#fff"
    style="
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      word-spacing: 3;
    "
  >
    {{ titulo }}
  </text>
</svg>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4 mt-4" *ngFor="let item of listaPrdenesTrabajo">
        <div class="card profile-card-5">
          <div class="card-img-block contenedor-imagen">
            <!--    <img
              class="card-img-top"
              src="assets\dist\img\alasitas.jpg"
              alt="Card image cap"
            /> -->
            <img
              src="assets\dist\img\alasitas.jpg"
              alt="Imagen del pedido"
              class="card-img-top"
            />
            <button
              class="boton botonCard"
              data-toggle="modal"
              data-target=".bd-example-modal-xl"
            >
              <i class="fas fa-edit fa-lg"></i>
            </button>
          </div>
          <div class="card-body">
            <p class="card-title">Descripción: {{item.descripcion}}</p>
            <p class="card-text">
              Tipo trabajo: {{item.tipoTrabajo}}<br />

              Observaciones: {{item.observaciones}}
            </p>
          </div>
        </div>
        <p class="mt-2 w-100 float-left text-justify px-4 card-footerV2">
          <strong>
            Fecha de asignación: {{item.fechaOrden| date: "dd-MM-yyyy"
            }}</strong
          ><br />
          <strong>
            Fecha entrega: {{item.fechaEntregaAprox| date: "dd-MM-yyyy"
            }}</strong
          >
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Extra large modal -->
<div
  class="modal fade bd-example-modal-xl"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title titulo" id="exampleModalLongTitle">
          {{ titulo }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="card text-dark bg-info mb-3">
          <div class="card-header text-center">
            <h3 class=""></h3>
          </div>
          <div class="card-body">
            <div class="row"></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
