<!-- TODO: MODAL-CONFIRMAR SOLICITUD -->
<div
  class="modal fade"
  id="showInconsistencia"
  aria-hidden="true"
  aria-labelledby="exampleModalToggleLabel"
  tabindex="-1"
  role="dialog"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title subttitleN w-100" id="exampleModalToggleLabel">
          Registro asegurado
        </h4>
      </div>
      <div class="modal-body">
        <h3
          align="center"
          class="modal-title w-100 subtitle"
          id="exampleModalToggleLabel"
        >
          ¿ Usted desea registrar un asegurado dependiente o un socio
          cooperativista ?
        </h3>
        <br />
        <div class="card p-30">
          <div class="row">
            <div class="col-sm-6 text-center">
              <button
                class="btn-Gestora-Cuadrado"
                data-dismiss="modal"
                aria-label="Close"
              >
                Dependiente
              </button>
            </div>
            <div class="col-sm-6 text-center">
              <button
                class="btn-Gestora-Cuadrado"
                data-dismiss="modal"
                aria-label="Close"

              >
                Social Cooperativista
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

