<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!--       <div class="col-md-12 col-lg-12 col-xl-12">
        <h2 class="tituloPrincipal">{{ titulo }}</h2>
      </div> -->
      <!--      <div class="col-md-4 col-lg-4 col-xl-4 text-right">
        <button
          (click)="generarReporteInventario()"
          class="btn btn-info"
          type="button"
        >
          <i class="fas fa-download"></i>
          GENERAR REPORTE
        </button>
      </div> -->
      <div class="col-md-4 col-lg-4 col-xl-4 my-3">
        <button
          class="btn btn-dark"
          type="button"
          data-toggle="modal"
          data-target=".bd-example-modal-xl"
          (click)="setearPost()"
        >
          <i class="fas fa-download"></i> AGREGAR NUEVA ORDEN
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card-body table-responsive">
          <table
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
            class="table table-bordered table-hover table-responsive-lg font-size-10 row-border hover"
          >
            <thead class="fondo-cafe">
              <tr>
                <!--        <th>Tipo Trabajo</th> -->
                <th>Fecha Orden</th>
                <th>Fecha Entrega</th>
                <th>Descripción</th>
                <th>Avance</th>
                <th>Estado</th>
                <!-- <th>Observaciones</th>
               <th>Costo</th>
                <th>Tipo Pago</th> -->
                <td *ngIf="rolUsuario=='admin'">Editar</td>
                <th>Ver</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listaUsuarios; let i = index">
                <!--      <td>
                  {{ item.tipoTrabajo }}
                </td> -->
                <td>
                  {{ item.fechaOrden |date:"yyyy/MM/dd"}}
                </td>
                <td>{{ item.fechaEntregaAprox |date:"yyyy/MM/dd"}}</td>
                <td style="min-width: 300px;">{{ item.descripcion }}</td>
                <!--       <td>{{ item.observaciones }}</td>
                <td>{{ item.costo }}</td>
                <td>{{ item.tipoPago }}</td> -->
                <td>
                  <div
                    class="progress"
                    style="min-width: 150px; width: 100%; border-radius: 5px;"
                  >
                    <div
                      class="progress-bar bg-info"
                      role="progressbar"
                      [style.width]="item.avance + '%'"
                      aria-valuenow="item.avance"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    >
                      {{ item.avance }}%
                    </div>
                  </div>
                </td>
                <td>{{ item.estado }}</td>

                <td class="py-1 text-center" *ngIf="rolUsuario=='admin'">
                  <button
                    class="btn-sm btn-success mx-auto font-size-10"
                    type="button"
                    data-toggle="modal"
                    data-target=".bd-example-modal-xl"
                    (click)="setearOrdenTrabajo(item)"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                </td>
                <td class="py-1 text-center">
                  <button
                    class="btn-sm btn-info mx-auto font-size-10"
                    type="button"
                    data-toggle="modal"
                    data-target=".eye"
                    (click)="verOrdenCompleta(item)"
                  >
                    <i class="fas fa-eye"></i>
                  </button>
                </td>
                <td class="py-1 text-center">
                  <button
                    class="btn-sm btn-danger mx-auto font-size-10"
                    type="button"
                  >
                    <i class="fas fa-eraser"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Extra large modal -->
<div
  class="modal fade bd-example-modal-xl"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title titulo" id="exampleModalLongTitle">
          {{ titulo }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="form">
        <div class="card text-dark bg-info mb-3">
          <div class="card-header text-center">
            INGRESE LA INFORMACIÓN DEL ORDEN DE TRABAJO
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4 col-md-6 col-sm-12 p-2">
                <div class="group">
                  <input
                    autofocus
                    type="date"
                    formControlName="fechaOrden"
                  /><span class="highlight"></span><span class="bar"></span>
                  <label class="label">Fecha Orden Trabajo:</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 p-2">
                <div class="group">
                  <input type="date" formControlName="fechaEntregaAprox" /><span
                    class="highlight"
                  ></span
                  ><span class="bar"></span>
                  <label class="label">Fecha Entrega Aprox:</label>
                </div>
              </div>

              <div class="col-lg-4 col-md-6 col-sm-12 p-2">
                <div class="group">
                  <input type="number" formControlName="costo" /><span
                    class="highlight"
                  ></span
                  ><span class="bar"></span>
                  <label class="label">Costo:</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 p-2">
                <div class="group">
                  <input type="text" formControlName="tipoTrabajo" /><span
                    class="highlight"
                  ></span
                  ><span class="bar"></span>
                  <label class="label">Tipo Trabajo:</label>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 col-sm-12 p-2">
                <div class="group">
                  <label for="my-select" class="label-select"
                    >Tipo de pago:</label
                  >
                  <select id="my-select" formControlName="tipoPago">
                    <option value="" selected disabled>Seleccione:</option>
                    <option value="TARJETA">TARJETA</option>
                    <option value="EFECTIVO">EFECTIVO</option>
                  </select>
                  <span class="bar"></span>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 p-2">
                <div class="group">
                  <input type="text" formControlName="descripcion" /><span
                    class="highlight"
                  ></span
                  ><span class="bar"></span>
                  <label class="label">Descripción:</label>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 p-2">
                <div class="group">
                  <input type="text" formControlName="observaciones" /><span
                    class="highlight"
                  ></span
                  ><span class="bar"></span>
                  <label class="label">Observaciones:</label>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="tituloModal=='REGISTRAR'">
            <div class="card-header text-center">
              INGRESE LA INFORMACIÓN DEL CLIENTE
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 p-2">
                  <div class="group">
                    <input type="text" formControlName="nit" /><span
                      class="highlight"
                    ></span
                    ><span class="bar"></span>
                    <label class="label">NIT:</label>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 p-2">
                  <div class="group">
                    <input type="text" formControlName="nombre" /><span
                      class="highlight"
                    ></span
                    ><span class="bar"></span>
                    <label class="label">Razon Social::</label>
                  </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 p-2">
                  <div class="group">
                    <input type="text" formControlName="celular" /><span
                      class="highlight"
                    ></span
                    ><span class="bar"></span>
                    <label class="label">Celular:</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12">
                <h5 class="title">Asignar trabajo a:</h5>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="group">
                  <label for="my-select" class="label-select">Asignar a:</label>
                  <select id="my-select" formControlName="idPersonalAsignado">
                    <option value="" selected disabled>Seleccione</option>
                    <option
                      *ngFor="let item of listadoCuentas"
                      value="{{ item.id }}"
                    >
                      {{ item.email }}
                    </option>
                  </select>
                  <span class="bar"></span>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 text-center footer-button">
            <button
              class="btn btn-outline-primary"
              data-dismiss="modal"
              (click)="agregarRegistroVentas()"
            >
              <i class="fas fa-user-alt"></i> {{tituloModal}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- TODO: Modal VER -->

<div
  class="modal fade eye"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title titulo" id="exampleModalLongTitle">
          Detalle de la orden de trabajo
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table
          class="table table-bordered table-hover table-responsive-md font-size-10 table-striped row-border hover"
        >
          <tr>
            <td>
              Detalle
            </td>
            <td colspan="4">
              Descripción
            </td>
          </tr>
          <tr>
            <td>
              Fecha de la orden:
            </td>
            <td colspan="4">
              {{this.orden.fechaOrden}}
            </td>
          </tr>
          <tr>
            <td>
              Fecha de la entrega acordada:
            </td>
            <td colspan="4">
              {{this.orden.fechaEntregaAprox}}
            </td>
          </tr>
          <tr>
            <td>
              Tipo de trabajo:
            </td>
            <td colspan="4">
              {{this.orden.tipoTrabajo}}
            </td>
          </tr>
          <tr>
            <td>
              Descripción:
            </td>
            <td colspan="4">
              {{ this.orden.descripcion}}
            </td>
          </tr>
          <tr>
            <td>
              Monto total:
            </td>
            <td colspan="4">
              {{this.orden.costo}}
            </td>
          </tr>
          <tr>
            <td>
              Observaciones:
            </td>
            <td colspan="4">
              {{this.orden.observaciones}}
            </td>
          </tr>
          <tr>
            <td>
              Tipo de trabajo:
            </td>
            <td colspan="4">
              {{this.orden.tipoTrabajo}}
            </td>
          </tr>
          <tr>
            <td>
              Tipo de pago:
            </td>
            <td colspan="4">
              {{this.orden.tipoPago}}
            </td>
          </tr>
          <tr>
            <td>
              Tipo de trabajo:
            </td>
            <td colspan="4">
              {{this.orden.tipoTrabajo}}
            </td>
          </tr>
          <tr>
            <td colspan="5">
              DATOS DEL CLIENTE
            </td>
          </tr>
          <tr>
            <td>
              Nombre:
            </td>
            <td colspan="4">
              {{ this.orden.cliente.nombre}}
            </td>
          </tr>
          <tr>
            <td>
              Celular:
            </td>
            <td colspan="4">
              {{ this.orden.cliente.celular}}
            </td>
          </tr>
          <tr>
            <td>
              Correo:
            </td>
            <td colspan="4">
              {{ this.orden.cliente.nit}}
            </td>
          </tr>

          <tr>
            <td colspan="5">
              PERSONAL RESPONSABLE DEL TRABAJO
            </td>
          </tr>
          <tr>
            <td>
              Nombre:
            </td>
            <td colspan="4">
              {{ this.personalAsignado.nombre}}
            </td>
          </tr>
          <tr>
            <td>
              Celular:
            </td>
            <td colspan="4">
              {{ this.personalAsignado.celular}}
            </td>
          </tr>
          <tr>
            <td>
              Correo:
            </td>
            <td colspan="4">
              {{ this.personalAsignado.correo_electronico}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
