<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 180">
  <path
    fill="#c11643"
    fill-opacity="1"
    d="M0,160L48,160C96,160,192,160,288,165.3C384,171,480,181,576,160C672,139,768,85,864,90.7C960,96,1056,160,1152,176C1248,192,1344,160,1392,144L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"
  ></path>
  <text
    x="100"
    y="100"
    class="tituloPrincipal"
    fill="#fff"
    style="
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
      word-spacing: 3;
    "
  >
    {{ titulo }}
  </text>
</svg>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!--       <div class="col-md-12 col-lg-12 col-xl-12">
        <h2 class="tituloPrincipal">{{ titulo }}</h2>
      </div> -->
      <!--      <div class="col-md-4 col-lg-4 col-xl-4 text-right">
        <button
          (click)="generarReporteInventario()"
          class="btn btn-info"
          type="button"
        >
          <i class="fas fa-download"></i>
          GENERAR REPORTE
        </button>
      </div> -->
      <div class="col-md-4 col-lg-4 col-xl-4 my-3">
        <button
          class="btn btn-dark"
          type="button"
          data-toggle="modal"
          data-target=".bd-example-modal-xl"
          (click)="setearPost()"
        >
          <i class="fas fa-download"></i> AGREGAR NUEVA ORDEN
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card-body">
          <table
            datatable
            [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger"
            class="table table-bordered table-hover table-responsive-xl font-size-10 table-striped row-border hover"
          >
            <thead class="fondo-cafe">
              <tr>
                <th>Tipo Trabajo</th>
                <th>Fecha Orden</th>
                <th>fecha Entrega Aprox</th>
                <th>Descripción</th>
                <th>Observaciones</th>
                <th>Costo</th>
                <th>Tipo Pago</th>
                <th>Editar</th>
                <th>Ver</th>
                <th>Eliminar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of listaUsuarios; let i = index">
                <td>
                  {{ item.tipoTrabajo }}
                </td>
                <td>
                  {{ item.fechaOrden |date:"yyyy/MM/dd"}}
                </td>
                <td>{{ item.fechaEntregaAprox |date:"yyyy/MM/dd"}}</td>
                <td>{{ item.descripcion }}</td>
                <td>{{ item.observaciones }}</td>
                <td>{{ item.costo }}</td>
                <td>{{ item.tipoPago }}</td>

                <td class="py-1 text-center">
                  <button
                    class="btn-sm btn-success mx-auto font-size-10"
                    type="button"
                    data-toggle="modal"
                    data-target=".bd-example-modal-xl"
                    (click)="setearOrdenTrabajo(item)"
                  >
                    <i class="fas fa-edit"></i>
                  </button>
                </td>
                <td class="py-1 text-center">
                  <button
                    class="btn-sm btn-info mx-auto font-size-10"
                    type="button"
                    data-toggle="modal"
                    data-target=".eye"
                    (click)="verOrdenCompleta(item)"
                  >
                    <i class="fas fa-eye"></i>
                  </button>
                </td>
                <td class="py-1 text-center">
                  <button
                    class="btn-sm btn-danger mx-auto font-size-10"
                    type="button"
                  >
                    <i class="fas fa-eraser"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Extra large modal -->
<div
  class="modal fade bd-example-modal-xl"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title titulo" id="exampleModalLongTitle">
          {{ titulo }}
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="form">
        <div class="card text-dark bg-info mb-3">
          <div class="card-header text-center">
            INGRESE LA INFORMACIÓN DEL ORDEN DE TRABAJO
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Fecha Orden Trabajo:</span
                  >
                  <input
                    autofocus
                    type="date"
                    class="form-control"
                    formControlName="fechaOrden"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                  />
                  <small
                    *ngIf="
                  this.form.get('fechaOrden')?.invalid &&
                  this.form.get('fechaOrden')?.touched
                "
                    class="rojo"
                    >* El campo es requerido</small
                  >
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Fecha Entrega Aprox:
                  </span>
                  <input
                    type="date"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="fechaEntregaAprox"
                  />
                  <small
                    *ngIf="
                  this.form.get('fechaEntregaAprox')?.invalid &&
                  this.form.get('fechaEntregaAprox')?.touched
                "
                    class="rojo"
                    >* El campo es requerido</small
                  >
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Costo:
                  </span>
                  <input
                    type="number"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="costo"
                  />
                  <small
                    *ngIf="
                  this.form.get('costo')?.invalid &&
                  this.form.get('costo')?.touched
                "
                    class="rojo"
                    >* El campo es requerido</small
                  >
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Tipo Trabajo:
                  </span>
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="tipoTrabajo"
                  />
                  <small
                    *ngIf="
                  this.form.get('tipoTrabajo')?.invalid &&
                  this.form.get('tipoTrabajo')?.touched
                "
                    class="rojo"
                    >* El campo es requerido</small
                  >
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Tipo de pago:
                  </span>
                  <select class="form-control" formControlName="tipoPago">
                    <option value="" selected disabled>Seleccione:</option>
                    <option value="TARJETA">TARJETA</option>
                    <option value="EFECTIVO">EFECTIVO</option>
                  </select>

                  <small
                    *ngIf="
                  this.form.get('tipoPago')?.invalid &&
                  this.form.get('tipoPago')?.touched
                "
                    class="rojo"
                    >* El campo es requerido</small
                  >
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Descripción:
                  </span>
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="descripcion"
                  />
                  <small
                    *ngIf="
                  this.form.get('descripcion')?.invalid &&
                  this.form.get('descripcion')?.touched
                "
                    class="rojo"
                    >* El campo es requerido</small
                  >
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Observaciones:
                  </span>
                  <input
                    type="text"
                    class="form-control"
                    aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-default"
                    formControlName="observaciones"
                  />
                  <small
                    *ngIf="
                  this.form.get('observaciones')?.invalid &&
                  this.form.get('observaciones')?.touched
                "
                    class="rojo"
                    >* El campo es requerido</small
                  >
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="tituloModal=='REGISTRAR'">
            <div class="card-header text-center">
              INGRESE LA INFORMACIÓN DEL CLIENTE
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="input-group mb-3">
                    <span
                      class="input-group-text"
                      id="inputGroup-sizing-default"
                      >N° Cédula de Identidad:</span
                    >
                    <input
                      autofocus
                      type="number"
                      class="form-control"
                      formControlName="ci_persona"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                    />
                    <small
                      *ngIf="
                  this.form.get('ci_persona')?.invalid &&
                  this.form.get('ci_persona')?.touched
                "
                      class="rojo"
                      >* El campo es requerido</small
                    >
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="input-group mb-3">
                    <span
                      class="input-group-text"
                      id="inputGroup-sizing-default"
                      >Nombre:
                    </span>
                    <input
                      type="text"
                      class="form-control text-uppercase"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                      formControlName="nombre"
                    />
                    <small
                      *ngIf="
                  this.form.get('nombre')?.invalid &&
                  this.form.get('nombre')?.touched
                "
                      class="rojo"
                      >* El campo es requerido</small
                    >
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="input-group mb-3">
                    <span
                      class="input-group-text"
                      id="inputGroup-sizing-default"
                      >Apellido Paterno:
                    </span>
                    <input
                      type="text"
                      class="form-control text-uppercase"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                      formControlName="a_paterno"
                    />
                    <small
                      *ngIf="
                  this.form.get('a_paterno')?.invalid &&
                  this.form.get('a_paterno')?.touched
                "
                      class="rojo"
                      >* El campo es requerido</small
                    >
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="input-group mb-3">
                    <span
                      class="input-group-text"
                      id="inputGroup-sizing-default"
                      >Apellido Materno:
                    </span>
                    <input
                      type="text"
                      class="form-control text-uppercase"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                      formControlName="a_materno"
                    />
                    <small
                      *ngIf="
                  this.form.get('a_materno')?.invalid &&
                  this.form.get('a_materno')?.touched
                "
                      class="rojo"
                      >* El campo es requerido</small
                    >
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="input-group mb-3">
                    <span
                      class="input-group-text"
                      id="inputGroup-sizing-default"
                      >Celular:
                    </span>
                    <input
                      type="number"
                      class="form-control"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                      formControlName="celular"
                    />
                    <small
                      *ngIf="
                  this.form.get('celular')?.invalid &&
                  this.form.get('celular')?.touched
                "
                      class="rojo"
                      >* El campo es requerido</small
                    >
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="input-group mb-3">
                    <span
                      class="input-group-text"
                      id="inputGroup-sizing-default"
                      >Email:
                    </span>
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                      formControlName="correo_electronico"
                    />
                    <small
                      *ngIf="
                  this.form.get('correo_electronico')?.invalid &&
                  this.form.get('correo_electronico')?.touched
                "
                      class="rojo"
                      >* El campo es requerido</small
                    >
                  </div>
                </div>
                <div class="col-lg-12 col-md-6 col-sm-12">
                  <div class="input-group mb-3">
                    <span
                      class="input-group-text"
                      id="inputGroup-sizing-default"
                      >Dirección:
                    </span>
                    <input
                      type="text"
                      class="form-control"
                      aria-label="Sizing example input"
                      aria-describedby="inputGroup-sizing-default"
                      formControlName="direccion"
                    />
                    <small
                      *ngIf="
                  this.form.get('direccion')?.invalid &&
                  this.form.get('direccion')?.touched
                "
                      class="rojo"
                      >* El campo es requerido</small
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12">
                <h5 class="title">Asignar trabajo a:</h5>
              </div>
              <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="input-group mb-3">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Asignar a:
                  </span>
                  <select
                    class="form-control"
                    formControlName="idPersonalAsignado"
                  >
                    <option value="" selected disabled>Seleccione</option>
                    <option
                      *ngFor="let item of listadoCuentas"
                      value="{{ item.id }}"
                    >
                      {{ item.email }}
                    </option>
                  </select>
                  <small
                    *ngIf="
                  this.form.get('idPersonalAsignado')?.invalid &&
                  this.form.get('idPersonalAsignado')?.touched
                "
                    class="rojo"
                    >* El campo es requerido</small
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 text-center footer-button">
            <button
              class="btn btn-outline-primary"
              data-dismiss="modal"
              (click)="agregarRegistroVentas()"
            >
              <i class="fas fa-user-alt"></i> {{tituloModal}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- TODO: Modal VER -->

<div
  class="modal fade eye"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title titulo" id="exampleModalLongTitle">
          Detalle de la orden de trabajo
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table
          class="table table-bordered table-hover table-responsive-xl font-size-10 table-striped row-border hover"
        >
          <tr>
            <td>
              Detalle
            </td>
            <td colspan="4">
              Descripción
            </td>
          </tr>
          <tr>
            <td>
              Fecha de la orden:
            </td>
            <td colspan="4">
              {{this.orden.fechaOrden}}
            </td>
          </tr>
          <tr>
            <td>
              Fecha de la entrega acordada:
            </td>
            <td colspan="4">
              {{this.orden.fechaEntregaAprox}}
            </td>
          </tr>
          <tr>
            <td>
              Tipo de trabajo:
            </td>
            <td colspan="4">
              {{this.orden.tipoTrabajo}}
            </td>
          </tr>
          <tr>
            <td>
              Descripción:
            </td>
            <td colspan="4">
              {{ this.orden.descripcion}}
            </td>
          </tr>
          <tr>
            <td>
              Monto total:
            </td>
            <td colspan="4">
              {{this.orden.costo}}
            </td>
          </tr>
          <tr>
            <td>
              Observaciones:
            </td>
            <td colspan="4">
              {{this.orden.observaciones}}
            </td>
          </tr>
          <tr>
            <td>
              Tipo de trabajo:
            </td>
            <td colspan="4">
              {{this.orden.tipoTrabajo}}
            </td>
          </tr>
          <tr>
            <td>
              Tipo de pago:
            </td>
            <td colspan="4">
              {{this.orden.tipoPago}}
            </td>
          </tr>
          <tr>
            <td>
              Tipo de trabajo:
            </td>
            <td colspan="4">
              {{this.orden.tipoTrabajo}}
            </td>
          </tr>
          <tr>
            <td colspan="5">
              DATOS DEL CLIENTE
            </td>
          </tr>
          <tr>
            <td>
              Nombre:
            </td>
            <td colspan="4">
              {{ this.orden.cliente.nombre}}
            </td>
          </tr>
          <tr>
            <td>
              Celular:
            </td>
            <td colspan="4">
              {{ this.orden.cliente.celular}}
            </td>
          </tr>
          <tr>
            <td>
              Correo:
            </td>
            <td colspan="4">
              {{ this.orden.cliente.correo_electronico}}
            </td>
          </tr>
          <tr>
            <td>
              Dirección:
            </td>
            <td colspan="4">
              {{this.orden.cliente.direccion}}
            </td>
          </tr>
          <tr>
            <td colspan="5">
              PERSONAL RESPONSABLE DEL TRABAJO
            </td>
          </tr>
          <tr>
            <td>
              Nombre:
            </td>
            <td colspan="4">
              {{ this.personalAsignado.nombre}}
            </td>
          </tr>
          <tr>
            <td>
              Celular:
            </td>
            <td colspan="4">
              {{ this.personalAsignado.celular}}
            </td>
          </tr>
          <tr>
            <td>
              Correo:
            </td>
            <td colspan="4">
              {{ this.personalAsignado.correo_electronico}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
