<section class="container">
  <br />
  <h2 class="tituloPrincipal">REGISTRO DE USUARIOS</h2>

  <div class="card text-dark bg-info mb-3">
    <div class="card-header text-center">DATOS PERSONALES</div>
    <form [formGroup]="form">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >N° Cédula de Identidad</span
              >
              <input
                autofocus
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                formControlName="ci_persona"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >Nombres</span
              >
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                formControlName="nombre"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >Apellido Paterno</span
              >
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                formControlName="a_paterno"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >Apellido Materno</span
              >
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                formControlName="a_materno"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >N° Celular</span
              >
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                formControlName="celular"
              />
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >Dirección</span
              >
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                formControlName="direccion"
              />
            </div>
          </div>
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >Correo Electrónico</span
              >
              <input
                type="text"
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default"
                formControlName="correo_electronico"
              />
            </div>
          </div>
          <div class="col-12">
            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default"
                >Fotografía:
              </span>
              <app-input-img
                (archivoSeleccionado)="archivoSeleccionado($event)"
              ></app-input-img>
            </div>
          </div>
          <div class="col-12 text-center footer-button">
            <button class="btn btn-outline-primary" (click)="registrarCuenta()">
              <i class="fas fa-user-alt"></i> Registrar usuario
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
