<br /><br />
<app-banner2></app-banner2>
<div class="px-5 mx-5">
  <a href="#">
    <div id="banner">
      <img class="ch" src="assets/dist/img/LunaCielo/LogoRedondo.png" />
      <h2 class="tistory">
        Los detalles hacen la diferencia
      </h2>
      <h2 class="txt"><strong> Y NOSOTROS SOMOS </strong></h2>
      <h2 class="txt2">EXPERTOS</h2>
      <h3 class="device">
        Y lo puedes comprobar..
      </h3>
    </div>
  </a>
</div>

<hr />
<div class="col-12">
  <div class="card card-primary">
    <div class="card-header">
      <h4 class="card-title">NOVEDADES...</h4>
    </div>
    <div class="card-body">
      <div class="row mb-5 mt-2">
        <div class="col-sm-4" *ngFor="let item of listaCatalogo">
          <div class="card profile-card-5">
            <div class="card-img-block contenedor-imagen">
              <img
                [src]="item.foto"
                alt="Imagen del pedido"
                class="card-img-top"
              />
            </div>
            <div class="card-body">
              <p class="card-title text-center">{{item.nombre}}</p>
              <p class="card-text">{{item.descripcion}}<br /></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
