<app-spinner></app-spinner>
<div class="paginaWeb">
  <app-header></app-header>
  <!--   <app-banner2></app-banner2>
  <app-banner1></app-banner1> -->
  <!--  <div *ngIf="mostrarBanner">

  </div> -->
  <!--   <br><br>
  <br><br>
  <br><br>  <br><br>
  <br><br>-->

  <router-outlet></router-outlet>
</div>
<footer class="fondoFooter">
  <div class="container">
    <h3 class="redes"><i class="far fa-thumbs-up"></i> Redes Sociales</h3>
    <hr />
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="cajaRedes">
          <img src="assets/dist/img/iconos/facebook.png" class="iconosredes" />
          <br />
          <a
            class="twitter-timeline"
            data-width="500"
            data-height="500"
            data-theme="light"
            data-href="https://www.facebook.com/profile.php?id=100060441955905"
            >Facebook</a
          >
          <script
            async
            src="https://platform.twitter.com/widgets.js"
            charset="utf-8"
          ></script>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="cajaRedes">
          <img src="assets/dist/img/iconos/whatsapp.png" class="iconosredes" />
          <br />
          <div
            class="fb-page"
            data-href="https://api.whatsapp.com/send?phone=59165610080&text=MENSAJE"
            data-tabs="timeline"
            data-width="500"
            data-height="500"
            data-small-header="false"
            data-adapt-container-width="true"
            data-hide-cover="false"
            data-show-facepile="true"
          >
            <a
              href="https://api.whatsapp.com/send?phone=59165610080&text=MENSAJE"
              >Whatsapp</a
            >
          </div>
        </div>
      </div>
    </div>
    <hr />
  </div>
  <div class="container-fluid foote">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="cajaImgg mt-2">
          <img
            class="imgFooter"
            src="assets/dist/img/LunaCielo/logo.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="informacionFooter">
          <h5 class="texto">Dirección</h5>
          <h6 class="texto">
            <i class="far fa-building" style="font-weight: 800;"></i> Oficina
            Central La Paz
          </h6>
          <p class="texto">
            Calle Reyes Ortiz, Edificio Gundlach - Torre Oeste
          </p>

          <h6 class="texto">
            <i class="fas fa-house-user" style="font-weight: 800;"></i> Atención
            al cliente Renta Dignidad
          </h6>
          <p class="texto">
            Batallón Colorados Edificio Tres Cruces <br />
            N° 40, La Paz
          </p>
          <h5 class="texto">Contactos</h5>
          <h6 class="texto">
            <i class="fas fa-phone-volume" style="font-weight: 800;"></i>
            Teléfono: (591-2) 218 8400
          </h6>
          <h6 class="texto">
            <i class="fas fa-phone-alt" style="font-weight: 800;"></i> Línea
            gratuita Renta Dignidad: 800-10-1610
          </h6>
          <h6 class="texto">
            <i class="fas fa-envelope-open-text" style="font-weight: 800;"></i>
            Correo: contacto@gestora.bo
          </h6>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <h4 class="redes" style="color: #003b77;">Encuentranos en:</h4>
        <div class="ubicacionCentro">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d478.1841807569335!2d-68.131469!3d-16.502179!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfbab45ced6f87950!2sGestora%20P%C3%BAblica%20de%20la%20Seguridad%20Social%20de%20Largo%20Plazo!5e0!3m2!1ses!2sbo!4v1637120387116!5m2!1ses!2sbo"
            class="ubicacion"
            style="border: 0;"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="w-100">
    <div class="row seccionAps">
      <div class="col-12">
        <p class="texto">
          Derechos Reservados ® Imprenta Mi Luna Cielo 2023
        </p>
        <a href="https://www.facebook.com/Gestorapublicabolivia/"
          ><i class="fab fa-facebook fa-2x facebook"></i
        ></a>
        <a href="https://twitter.com/PublicaGestora"
          ><i class="fab fa-twitter fa-2x twitter"></i
        ></a>
        <a href="" class="youtube"><i class="fab fa-youtube fa-2x"></i></a>
      </div>
    </div>
  </div>
</footer>
