<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img
      src="assets/dist/img/logoOficial.jpg"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8;"
    />

    <span class="brand-text font-weight-light">MI LUNA CIELO</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="">
        <img
          *ngIf="!fotoPerfil"
          src="assets\dist\img\iconoUsuario.png"
          class="image elevation-2"
          alt="User Image"
        />
        <img
          [src]="fotoPerfil"
          *ngIf="fotoPerfil"
          alt="LUNA Logo"
          class="image elevation-2"
        />
      </div>
      <div class="info">
        <a class="d-block">{{nombreUsuario}}</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
<!--     <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input
          class="form-control form-control-sidebar"
          type="search"
          placeholder="Buscar:"
          aria-label="Search"
        />
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div> -->
    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
        <!--  <li class="nav-item menu-open"> -->
        <li class="nav-item">
          <a
            [routerLink]="['/admin/home']"
            routerLinkActive="active"
            class="nav-link"
          >
            <i class="nav-icon fas fa-home"></i>
            <p>PANEL DE CONTROL</p>
          </a>
        </li>
        <li class="nav-item">
          <a
            *ngIf="this.rolUsuario=='admin' ||this.rolUsuario=='ventas' "
            class="nav-link"
            [routerLink]="['/admin/registroVentas']"
            routerLinkActive="active"
          >
            <i class="nav-icon fas fa-shopping-cart"></i>
            <p>
              ORDEN DE TRABAJOS
              <!-- <i class="fas fa-angle-left right"></i> -->
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a
            *ngIf="this.rolUsuario=='admin' ||this.rolUsuario=='ventas' "
            class="nav-link"
            [routerLink]="['/admin/catalogo']"
            routerLinkActive="active"
          >
            <i class="nav-icon fas fa-shopping-cart"></i>
            <p>
              CATÁLOGO
              <!-- <i class="fas fa-angle-left right"></i> -->
            </p>
          </a>
        </li>
        <li
          class="nav-item"
          *ngIf="this.rolUsuario=='admin' ||this.rolUsuario=='ventas' ||this.rolUsuario=='prod'"
        >
          <a class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              INVENTARIO / ALMACÉN
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                href="/admin/registroInventario/consumibles"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fas fa-couch nav-icon"></i>
                <p>Consumibles</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href="/admin/registroInventario/muebles"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fas fa-couch nav-icon"></i>
                <p>Muebles y enseres</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href="/admin/registroInventario/maquinaria"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fas fa-industry nav-icon"></i>
                <p>Maquinaria y equipos</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href="
                /admin/registroInventario/equiposComputacion"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fas fa-desktop nav-icon"></i>
                <p>Equipos de computación, comunicación</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href="/admin/registroInventario/materialEscritorio
              "
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fas fa-pencil-ruler nav-icon"></i>
                <p>Material de escritorio</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href="/admin/registroInventario/cocina"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fas fa-utensils nav-icon"></i>
                <p>Activos fijos cocina</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                href="/admin/registroInventario/activosFijos"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="fas fa-home nav-icon"></i>
                <p>Activos fijos</p>
              </a>
            </li>
          </ul>
        </li>
        <li
          class="nav-item"
          *ngIf="this.rolUsuario=='admin' ||this.rolUsuario=='ventas'"
        >
          <a class="nav-link">
            <i class="nav-icon fas fa-users"></i>
            <p>
              USUARIOS
              <!-- <i class="fas fa-users right"></i> -->
              <i class="fas fa-angle-left right"></i>
              <span class="badge badge-info right">2</span>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a
                [routerLink]="['/admin/registroUsuarios']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Registro de usuarios</p>
              </a>
            </li>
            <li class="nav-item">
              <a
                [routerLink]="['/admin/listadoUsuarios']"
                routerLinkActive="active"
                class="nav-link"
              >
                <i class="far fa-circle nav-icon"></i>
                <p>Listado de usuarios</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="this.rolUsuario=='prod'">
          <a
            class="nav-link"
            [routerLink]="['/admin/misTrabajos']"
            routerLinkActive="active"
          >
            <i class="nav-icon fas fa-tasks"></i>
            <p>
              MIS TRABAJOS
            </p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
