<app-spinner></app-spinner>

<app-header-admin></app-header-admin>
<app-sidebar-admin></app-sidebar-admin>

<div class="content-wrapper">
  <!--   <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#c11643" fill-opacity="1" d="M0,320L40,314.7C80,309,160,299,240,261.3C320,224,400,160,480,138.7C560,117,640,139,720,154.7C800,171,880,181,960,154.7C1040,128,1120,64,1200,80C1280,96,1360,192,1400,240L1440,288L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z"></path>
    <text x="30" y="40" style="font-family: Consolas;">
      línea base del texto
    </text>
  </svg> -->
  <!--
  <div class="content-header">
    <div class="container-fluid">
       <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">INICIO</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
            <li class="breadcrumb-item active">Panel de control</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
-->
  <!--   <section class="content">

    <div class="container-fluid"> -->

  <router-outlet></router-outlet>
</div>
<!--   </section>
</div> -->
<app-footer-admin></app-footer-admin>

<aside class="control-sidebar control-sidebar-dark"></aside>
